<div class="site-header text-white">
	<div class="flex-container min-h100vh responsive-height">
		<div class="row min-h100vh responsive-height">
			<div class="col-12 col-lg-6 df plr-responsive60">
				<div class="header__content min-h100vh w100">
					<div class="header__top">
						<img src="img/site_logo.png" alt="Alexander Konning" class="main-logo">
					</div>
					<div class="header__bottom pos-relative w100">
							<h1 class="h1-title text-upper">ALEXANDER KONING</h1>
						<!--don't change the order of elements in this section  -->
					</div>
				</div>
			</div>
			<!-- hide this block on tablet and modile -->
			<div class="col-12  col-lg-6 pl50 pos-relative tablet-aligm tablet-hidden">
				<div class="min-h100vh pos-relative">
					<div class="responsive-img h100 " >
						<img src="img/alex.png" alt="ALEXANDER KONING">
					</div>
				</div>
			</div>
			<!-- hide this block on tablet and modile -->
		</div>
	</div>
</div>