<section class="section-wrapper  text-white">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="text-section">
				<div>
					<p class="font17 mb20">
						France, 1978, videographer, filmmaker and visual artist living and working in Amsterdam.
					</p>
				</div>
				<div>
					<p class="font17 mb20">
						Cum Laude graduate from the Academy of Monumental Arts - Maastricht – The Netherlands - 1998/2004
					</p>
				</div>
				
				<h2 class="h2-title mb15">Artist’s statement</h2>
				<div>
					<p class="font17 mb20"> My paintings portray the emotions of a generation having trouble finding a tangible form of hope. A generation that is losing grip on its future despite its wealth and historical lack of physical misery. A generation desperately trying to redefine its social, moral and intellectual values in times of high-speed internet, lingering economic disaster and environmental armageddon.
					</p>
				</div>
				<div>
					<p class="font17 mb20">
						The question I ask myself: 'How long will the status quo last? And what will we do to overcome the existential crises we face?'
					</p>
				</div>
				
				<p class="font17 mb20">
					My work as a cameraman and documentary filmmaker keeps me plugged into the veins of our global society. Stories like the ones filmed during the Ebola crisis in Liberia, the Israel/Palestina conflict and refugee trafficking in Lybia, for example, have had a significant impact on how I perceive and make art.
				</p>
				<p class="font17 mb20">
					Rather than to reflect on worldly topics from my studio, I have had the chance to meet presidents, beggars, soldiers and whores in person. The insights gained when shaking those peoples hands are reflected and examined in my work to see if I can capture their underlying humanity as well as the philosophical questions hidden behind the endeavours they face. 
				</p>
				<div class="signature mb20">
					<img src="img/signature.png">
				</div>
				<h2 class="h2-title mb15">Awards and recognitions</h2>
				<div class="awards-list mb20">
					<div class="awards-item">
						<span class="awards__date">2019</span>
						<span class="awards__name">Aquisition by Musée Massey, Tarbes, France</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2017</span>
						<span class="awards__name">Artist of the Day, Saatchi Art</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2017</span>
						<span class="awards__name">Jury selection Krabbé Zoekt Picasso art contest, Krabbé Zoekt Picasso</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2017</span>
						<span class="awards__name">Featured in Painting of the Week, Saatchi Art</span>
					</div>
				</div>
				<h2 class="h2-title mb15">Exhibitions</h2>
				<div class="awards-list mb20">
					<div class="awards-item">
						<span class="awards__date">2019</span>
						<span class="awards__name">JUNE 2019 - ‘Islam en Koning’ Gallery ‘Art of Stream’ Rotterdam - Duo</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2019</span>
						<span class="awards__name">MAY 2019 - 'Le Carmel Hors les Murs' at Le Carmel, Tarbes (FRANCE) - Museum Massey Tarbes acquired a painting. - Duo</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2018</span>
						<span class="awards__name">JULY / AUGUST 2018 at T’Huis aan de Amstel, Amsterdam - Solo</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2017</span>
						<span class="awards__name">Inspired by Picasso at Hilton Brussels City, Brussels, Belgium - Group</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2017</span>
						<span class="awards__name">Finalist ‘Krabbé looks for Picasso’ contest at VondelCS, Vondelpark, Amsterdam
							‘Le Voyage’ has been selected out of 3000 participating works as one of the 25 finalists in a contest by a national TV show about Picasso.</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2016</span>
						<span class="awards__name">The Wandering Eye at Adam en Siam, Rokin, Amsterdam - Group</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2016</span>
						<span class="awards__name">Alexander Koning at Thirty5ive, Amsterdam - Solo</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2016</span>
						<span class="awards__name">Alchemist at Alchemist store, Utrecht - Group</span>
					</div>
					<div class="awards-item">
						<span class="awards__date">2016</span>
						<span class="awards__name">Screening short documentary ‘Le Weekend’ at Theater t’Pand, Gorichem</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 pl50 mobile-swipe">
			<div class="swipe-hand">
						<svg class="icon ">
						  <use xlink:href="#swipeHand"></use>
						</svg>
			</div>
			<div class="right-col-img tablet-visible">
				<img src="img/alex.png">
			</div>
			<div class="right-col-img">
				<div class="videocontainer">
					<video poster='img/about-1.png' id='player' playsinline controls>
						 <source src='img/Landscape - 757.mp4' type='video/mp4'>
						 <!-- <source src='/path/to/video.webm' type='video/webm'>						  -->
					</video>
				</div>
				
			</div>
			<div class="right-col-img ">
				<img src="img/about-2.png">
			</div>
			<div class="right-col-img ">
				<img src="img/about-3.png">
			</div>
			<div class="right-col-img">
				<img src="img/about-4.png">
			</div>
		</div>
	</div>

	<div class="row work-areas pos-relative">
		<div class="map-bg"><img src="img/MAP.png"></div>
		
			<div class="col-6">
				<h2 class="h2-title text-section">Worked in</h2>
			</div>
		
		<div class="row pos-relative w600 ">

			<div class="col-6">
				<div class="text-section " data-margin = "propaganda">
					<div class="df w100 jc-sb">
						<div class="work-areas__list">
							<span class="workareas__name">Afghanistan</span>
							<span class="workareas__name">Austria</span>
							<span class="workareas__name">Azerbaijan</span>
							<span class="workareas__name">Belgium</span>
							<span class="workareas__name">Bosnia</span>
							<span class="workareas__name">Bulgaria</span>
							<span class="workareas__name">Cameroon</span>
							<span class="workareas__name">Congo</span>
							<span class="workareas__name">Croatia</span>
							<span class="workareas__name">Cuba</span>
						</div>
						<div class="work-areas__list">
							<span class="workareas__name">Denmark</span>
							<span class="workareas__name">Egypt</span>
							<span class="workareas__name">England</span>
							<span class="workareas__name">Ethiopia</span>
							<span class="workareas__name">Finland</span>
							<span class="workareas__name">France</span>
							<span class="workareas__name">Gaza</span>
							<span class="workareas__name">Germany</span>
							<span class="workareas__name">Greece</span>
							<span class="workareas__name">Haiti</span>
						</div>
						<div class="work-areas__list">
							<span class="workareas__name">Iceland</span>
							<span class="workareas__name">Indonesi</span>
							<span class="workareas__name">Iraq</span>
							<span class="workareas__name">Israel</span>
							<span class="workareas__name">Italy</span>
							<span class="workareas__name">Japan</span>
							<span class="workareas__name">Jordan</span>
							<span class="workareas__name">Lebanon</span>
							<span class="workareas__name">Liberia</span>
							<span class="workareas__name">Libya</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="text-section alig-left">
					<div class="df w100 jc-sb">
						<div class="work-areas__list">
							<span class="workareas__name">Lithuania</span>
							<span class="workareas__name">Mexico</span>
							<span class="workareas__name">Netherlands</span>
							<span class="workareas__name">Poland</span>
							<span class="workareas__name">Portugal</span>
							<span class="workareas__name">Romania</span>
							<span class="workareas__name">Russia</span>
							<span class="workareas__name">Rwanda</span>
							<span class="workareas__name">Serbia</span>
							<span class="workareas__name">Slovenia</span>
						</div>
						<div class="work-areas__list ml40">
							<span class="workareas__name">Spain</span>
							<span class="workareas__name">Switzerland</span>
							<span class="workareas__name">Syria</span>
							<span class="workareas__name">Tanzania</span>
							<span class="workareas__name">Thailand</span>
							<span class="workareas__name">Tunisia</span>
							<span class="workareas__name">Turkey</span>
							<span class="workareas__name">Uganda</span>
							<span class="workareas__name">United States</span>
							<span class="workareas__name">West Bank</span>
						</div>
						<!-- hide this section on mobile -->
						<div class="work-arrow mobile-hidden">
							<!--don't change the order of elements in this section  -->
							<span >Watch photos </span> 
							<div class="arrow-up-right"  >
								<div class="icon-large"></div>
							</div>
							<!--don't change the order of elements in this section  -->
						</div>
						<!-- hide this section on mobile -->
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- show this section on mobile -->
			<div class="work-arrow mobile-visible mb30">
				<!--don't change the order of elements in this section  -->
				<span >Watch photos </span> 
				<div class="arrow-up-right">
					<div class="icon-large"></div>
				</div>
				<!--don't change the order of elements in this section  -->
			</div>
			<!-- show this section on mobile -->
	<div class="row">
		<div class="row w50">
			<div class="col-12 text-section">
				<h2 class="h2-title ">‘Propaganda’</h2>
			</div>
		</div>
		<!-- id "setOffset" need to fix some responsive bug -->
		<div class="col-12 df" id="setOffset">
			<div class="text-multi-col">
				<p >
					De pil hielp alleen de fantoompijn te verdoven op de plek waar ooit het leven zat waarin ik gelukkig was, of in ieder geval dacht te kunnen worden. Mijn gedachten razen, maar mijn lichaam ligt roerloos op het onopgemaakte bed. Het is snel donker geworden. Het wordt in de winter altijd snel donker. De maan weerkaatst zonnestralen van een dag die ooit was over de kale muren van mijn hotelkamer.Ik denk aan het moment dat het allemaal anders werd. Het moment dat alles een onomkeerbare wending nam. Geluk was toen een streven, maar toen ik het eenmaal had verworven werd het me snel duidelijk dat ik het nu alleen nog kon verliezen.' 
				</p>
				<p class="mt10 mb20">
					<span class="rotate135">
						<svg class="icon ">
						  <use xlink:href="#arrow"></use>
						</svg>
					</span>
					Preview the exclusive full-color hardcover version of 'Propaganda – Jubileum Editie'
				</p>
				<button class="white-border bg-black btn-about-pg text-white">Download on Amazon</button>
			</div>
			<div class="separate-photo">
				<img src="img/separate-photo.png" alt="‘Propaganda’">
			</div>
		</div>
	</div>
	
</section>












