<div class="text-black pos-relative">
	<div class="flex-container secondary-header bord-b-white">
		<div class="row pl-lg-40">
			<div class="col-12 col-lg-6">
				<div class="header__content w100 ">
					<div class="header__top mb85">
						<img src="img/dark_logo.png" alt="Alexander Konning" class="main-logo">
					</div>
					<div class="header__bottom pos-relative w100">
						<div class="slide-item flex-col">
							<h1 class="h1-title max-w550 text-capit">Blog</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>