<div class="row  min-h60 pos-relative blog_post_container">
  <div class="col-12 col-lg-4 left-col">
    <div class="mlr-15 check-out-head">
      <img src="img/dark_logo.png" alt="Alexander Konning" class="main-logo">
      <div class="check-out-head__bottom">
        <h1 class="h1-title text-capit">Checkout</h1>
        <div class="total-counter mb10">
          <span>(</span>
          <span>3</span>
          <span>items)</span>
        </div>
      </div>
    </div>
    <div class="check-out-items">
      <div class="mlr-15 bord-b-black">
        <div class="shopping__row">
          <div class="product__img">
              <img src="img/SALIMA_LA_BIEN_AIMEE_ALEXANDER_KONING_icon.png" alt="SALIMA_LA_BIEN_AIMEE_ALEXANDER_KONING">
          </div>
          <div class="df w100 p20 bord-l-white">
              <div class="product__descr">
                <h3 class="product__title">‘Salima La Bien Aimée’</h3>
                <span class="product__size">170 х 120 cm</span>
                <p class="product__price">120<span class="price__currency text-upper">euro</span></p>
              </div>
              <div class="product__remove"></div>
          </div>
        </div>
      </div>
      <div class="mlr-15 bord-b-black">
        <div class="shopping__row">
          <div class="product__img ">
            <img src="img/Screenshot_2.png" alt="‘La vie en rose’">
          </div>
          <div class="df w100 p20 bord-l-white">
            <div class="product__descr">
              <h3 class="product__title">‘‘La vie en rose’’</h3>
              <span class="product__size">170 х 120 cm</span>
              <p class="product__price">120 <span class="price__currency text-upper"> euro</span></p>
            </div>
            <div class="product__remove"></div>
          </div>
        </div>
      </div>
      <div class="product-row text-white mlr-15">
        <div class="shopping__row w100 ">
          <div class="product__img">
            <img src="img/Screenshot_1.png" alt="Momo">
          </div>
          <div class="df w100 p20 bord-l-white">
            <div class="product__descr">
              <h3 class="product__title">‘‘Momo’’</h3>
              <span class="product__size">170 х 120 cm</span>
              <p class="product__price">120 <span class="price__currency text-upper"> euro</span></p>
            </div>
            <div class="product__remove"></div>
          </div>
        </div>
      </div>
    </div>
   <div class="shopping__bottom mlr-15">
      <div class="shopping__row bord-b-white pl20pt15">
        <a class="font14 " href="#">Free shipping &amp; Free returns</a>
      </div>
      <div class="shopping__row pl20pt15 jc-sb">
        <span class="font14">Subtotal</span>
        <span class="shopping__subtotal">120
          <span class="price__currency text-upper">euro</span>
          <span class="font14">(ex. VAT)</span>
        </span> 
      </div>
      <div class="shopping__row pl20pt15 jc-sb">
        <span class="font14">Shipping</span>
        <span class="shopping__subtotal text-upper">FREE
        </span> 
      </div>
      <div class="shopping__row pl20pt15 jc-sb">
        <span class="font14">VAT</span>
        <span class="shopping__subtotal">5
          <span class="price__currency text-upper">EUR</span>
        </span> 
      </div>
      <div class="border-top-bot">
         <div class="shopping__row pl20pt15 jc-sb" >
            <span class="font14 text-upper">TOTAL</span>
            <span class="shopping__subtotal">125
              <span class="price__currency text-upper">EUR</span>
            </span> 
          </div>
      </div>
      <div class="shopping__row ">
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 right-col blog_post_wrapper pos-relative">
    <div class="min-h156 pos-relative">
      <div class="round-counter">
        <svg class="icon">
          <use xlink:href="#round-final"></use>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="success-content">
        <p class="font17 mb20">Dear <span>Faith</span>,</p>
        <p class="font17 mb10">
          Your order <span class="text-red">RI 23456789</span> has been placed successfully. You’ll find the details about your order in an email we’ve sent to <span class="text-red">verasolomenko20@gmail.com</span>.
        </p>
        <p class="font17 mb20">
          This email contains a tracking link so that you can track your order through each step of the delivery process.
        </p>
          <a href="shop_art_page.html" class="font23 mb10 df">Back to shopping<span class="check-out-arrow"></span></a>
        
      </div>
      </div>
    </div>
    
  </div>
</div>