<div class="text-white bg-black">
	<div class="site-footer">
		<div class="row">
			<div class="col-4 footer__item">
				<img src="img/site_logo.png" class="mb20" title="alexander koning">
				<p class="font12">Maecenas sollicitudin amet, lobortis ante mattis aliquam ut lobortis. Rutrum consectetur diam sodales lorem dignissim.</p>
			</div>
			<div class="col-4 footer__item">
				<h3 class="footer__title">Subscribe to  the newsletter</h3>
				<form class="black-input">
					<input class="black-field" type="" name="">
					<button class="font14 text-white transparent-btn">submit</button>
				</form>
			</div>
			<div class="col-4 footer__item">
				<h3 class="footer__title">Questions?</h3>
				<div class="row contact">
					<div class="col-6">
						<p class="font12">Phone</p>
						<a class="font12" href="tel: +2175550113">(217) 555-0113</a>
					</div>
					<div class="col-6">
						<p class="font12">Email</p>
						<a class="font12" href="mailto:mail@alexanderkoning.nl">mail@alexanderkoning.nl</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>