<div class="content__wrapper">
	<div class="row mb120">
		<div class="col-md-6 col-12 text-white text-position order2">
			<p class="font17 mb20">
				Libya, Egypt, Lebanon, Turkey, Greece, Slovenia. We traveled a big part of the Mediterranean to film different sides of the ongoing refugee crisis for different Dutch broadcasters. I incorporate the impressions of these trips in this experimental series of documentary paintings.
			</p>
			<p class="font17 mb20">
				The idea to start making documentary art was born in an office building in Jakarta August 2015. We were doing interviews for a documentary film in a richly decorated interior. On one of the walls, there was a huge painting depicting a gruesome scene that took place between 1965 and 1968, in which Indonesia’s bloody anti-communist purges took place. The person we interviewed was a communist but he had survived and was now one of the richest men in Jakarta. He kept the painting as a morbid reminder of his past and a sign of victory for his old opponents to see when they came to visit him for business. 
			</p>
			<p class="font17 mb40">
				That’s when the documentary value of painting struck me. Up until now my paintings where mostly about technique, soothing imagery,color and composition, but never about documentation. It was never really about content. I realized then and there that art could be just as it was during the Renaissance. Just like the painting of Eugene Delacroix showing Victory leading the people of France during the French revolution. An interesting thought I kept in mind. 
			</p>
			<h2 class="h2-title">H2 Title</h2>
			<p class="font17 mb20">
				A few months later we had been traveling around the Mediterranean coast a lot of shooting story’s on refugees. We had seen them in Tunisia, Libya, Egypt, Libanon, Turkey and, Greece. It was only in Slovenia that a scene struck me with such force that I just had to paint it. I was convinced this scene of a father carrying his son on a five-mile journey between the borders of Croatia and Slovenia had to be documented. ‘La Vie en Rose.’ (Welcome to Europe) showed the first breach in optimism felt by refugees and the European governments alike. We were not ‘going to manage this’ as Angela Merkel said. We were actually in for a disaster… This moment had to be saved for future generations. At least, that is what I thought. I was convinced the power of this image would grow by the years. And I am still pretty hopeful it might.
			</p>
			<p class="font17 mb40">
				During this, I started noticing the fast pace of the sentiments surrounding the refugee problem. Huge events like the terrorist attacks, the rapings in Cologne, the sudden increase of Syrian refugees, the drowning of the child Aylan etc. caused a massive fluctuation in the way people looked at the crisis. 
			</p>
			<h2 class="h2-title">H2 Title</h2>
			<p class="font17 mb20">
				If in one week everybody was shocked and showed empathy towards a drowning child a week later everybody would be angry about madly raping cavemen invading our territory. 
			</p>
			<p class="font17 mb20">
				I found this where interesting sentiments to document and I tried to paint characters showing a specific emotion during the crisis. I wanted to make a series to would ultimately be useful in reconstructing the past that awaits us. ‘Reconstructions of a Past Still to Come’would be the name of the series.
			</p>
			<p class="font17 mb40">
				In this series ‘Mounir le Raisonnable’ stands for the reasonable refugee not having anything to do with what happened in Cologne, but still being judged for it as if he had participated. 
			</p>
			<h2 class="h2-title">Vulputate nisl, sit adipiscing donec</h2>
			<p class="font17 mb20">
				After came ‘Salima La Bien Aimée’ (The beloved Salima). 
			</p>
			<p class="font17 mb20">
				Salima tells us the story of a Syrian girl growing up in Europe and adapting wonderfully to our society because we want her to so much. We love and compliment her on her achievements of learning our language, our ways and our style of dressing, but deep inside Salima is sad about the part of her identity she had to cover up and leave behind. 
			</p>
			<p class="font17 mb40">
				‘Marie-Ange L’Auras Voulu’ will play the role of the ‘Gutmensch’. A term that some people tenduse to describe someone with a compassionate heart for the asylum seekers. A person that simply does not understand that its good intentions will ultimately mean the destruction of our glorious society. 
			</p>
			<p class="font17 mb40">
				‘Karim le Benjamin’ the youngest member of the family is a symbolfor what looks like a global enlargement of the Palestinian/Israeli conflict. The rhetoric of building walls, sinking ships and expelling Muslims versus the sentiment to help the victims of war and risking to take in terrorists by doing so.
			</p>
			<div class="work-arrow">
							<!--don't change the order of elements in this section  -->
							<a href="video_page.html" >Watch video </a> 
							<a href="video_page.html" class="arrow-up">
								<div class="icon-large"></div>
							</a>
							<!--don't change the order of elements in this section  -->
			</div>
			<div class="work-arrow">
							<!--don't change the order of elements in this section  -->
							<a href="video_page.html" >Watch video </a> 
							<a href="video_page.html" class="arrow-up">
								<div class="icon-large"></div>
							</a>
							<!--don't change the order of elements in this section  -->
			</div>
			</div>
		<div class="col-md-6 col-12 order0 ">
			<!-- show this section on desctop -->
			<div class="pos-relative text-white tablet-visible fxd-c mt40" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘La vie en Rose’</span>
					<p class="text-small">120x170cm Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0" >
					<img class="w100 img-cover" src="img/image_3.2.png" alt="‘Salima La Bien Aimée’">
				</div>
			</div>
			<!-- <div class="pos-relative text-white mt40 tablet-visible" >
				<div class="header__image-descr " >
					<span class="image-title ">‘Salima La Bien Aimée’</span>
					<p class="text-small">170x120 Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100" >
					<img class="w100 img-cover" src="img/image_3.2.png" alt="‘Salima La Bien Aimée’">
				</div>
			</div> -->
			<!-- show this section on desctop -->
			<div class="pos-relative text-white mb40 mobile-flex-col" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘Salima La Bien Aimée’</span>
					<p class="text-small">170x120 Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0" >
					<img class="w100 img-cover" src="img/SALIMA_LA_BIEN_AIMEE_ALEXANDER_KONING.png" alt="‘Salima La Bien Aimée’">
				</div>
			</div>
			<div class="pos-relative text-white mb40  mobile-flex-col" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘La vie en Rose’</span>
					<p class="text-small">120x170cm Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0 pos-relative" >
					<div class="art-img-overl">
						<p class="font16">Sold Out</p>
					</div>
					<img class="w100 img-cover" src="img/La_vie_en_Rose.png" alt="‘Mounir Le Raisonnable’">
				</div>
			</div>
			<div class="pos-relative text-white mb40 mobile-flex-col" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘Momo’</span>
					<p class="text-small">170x120 Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0" >
					<img class="w100 img-cover" src="img/Momo.png" alt="‘‘Momo’’">
				</div>
			</div>
			<div class="pos-relative text-white mb40  mobile-flex-col" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘Le Voyage’</span>
					<p class="text-small">170x120 Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0" >
					<img class="w100 img-cover" src="img/Le Voyage.png" alt="‘Le Voyage’">
				</div>
			</div>
			<div class="pos-relative text-white mb40  mobile-flex-col" >
				<div class="header__image-descr order2" >
					<span class="image-title ">‘L'Etranger’</span>
					<p class="text-small">170x120 Spraypaint, Charcoal, Acrylic and Gesso on Canvas</p>
				</div>
				<div class="w100 order0" >
					<img class="w100 img-cover" src="img/L'Etranger.png" alt="‘L'Etranger’">
				</div>
			</div>
		</div>
	</div>

	<!-- ==========================shop art section======================== -->
	<!-- ==========================shop art section======================== -->
	<!-- ==========================shop art section======================== -->
	<div class="row pos-relative mb120">
		<div class="col-12 text-white ">
			<div class="row">	
				<div class="col-12 col-md-8 ">
					<div class=" flex-col">
						<div class="colection-version">
							<span class="colection-counter">2</span>
							<div class="white-line ml20"></div>
						</div>
						<h2 class="font46">LONGING FOR THE EPIPHANY</h1>
					</div>
					<div class="row">
						<div class="col-12 col-md-10 text-position">
							<p class="font17">
								STARING, GAZING, WAITING, IMAGINING, FEARING AND LONGING FOR THE EPIPHANY THAT WILL DELIVER US FROM THIS EVER GROWING AMOUNT OF EXISTENTIAL UNCERTAINTY
							</p>
							<div class="arrow-with-text">
								<span >Shop Art </span> 
								<div class="arrow-up" data-action = 'click' >
									<div class="icon-large"></div>
								</div>
									<!--don't change the order of elements in this section  -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- show this section on mobile -->
			<div class="shop-art-img mobile-visible">
				<div class="shop-art__item">
					<img src="img/image 3.2-0.png" alt="">
				</div>
			</div>
			<!-- show this section on mobile -->
			<!-- hide this section on mobile -->
			<div class="shop-art-img w100 mobile-hidden">
				<div class="row">
					<div class="col-md-9 col-12 shop-art alig-right">
						<div class="row w100">
							<div class="col-12 col-md-4 col shop-art__item">
								<img src="img/image 3.2-0.png" alt="">
							</div>
							<div class="col-4 shop-art__item mobile-hidden">
								<img src="img/Marlene_final.png" alt="">
							</div>
							<div class="col-4 shop-art__item mobile-hidden">
								<img src="img/Marlene_final.png" alt="">
							</div>
						</div>
						</div>
					</div>
				</div>
			<!-- hide this section on mobile -->
			</div>
			
		</div>
	</div>
	

	<!-- ==========================shop art section======================== -->
	<!-- ==========================shop art section======================== -->
	<!-- ==========================shop art section======================== -->


</div>





 




 




 















