<div class="text-white pos-relative">
	<div class="flex-container secondary-header bord-b-white">
		<div class="row pl-lg-40">
			<div class="col-12 col-lg-6">
				<div class="header__content w100 ">
					<div class="header__top mb85">
						<img src="img/site_logo.png" alt="Alexander Konning" class="main-logo">
					</div>
					<div class="header__bottom pos-relative w100 df alg-item-center">
						<div class="flex-col">
							<h1 class="h1-title max-w550 text-capit">Privacy policy</h1>
						</div>
						<div>
							<span class="rotate135 ml20 mobile-hidden">
								<a href="#" class="text-light-gray">Go back</a>
	    						<svg class="icon ">
	    						  <use xlink:href="#arrow"></use>
	    						</svg>
	    					</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>