<div class="shopping-cart-wrapper">
	<div class="sopping__top">
		<span class="shopping__title ">Shopping cart</span>
		<div class="icon-white-bag">
			<span class="product-total">3</span>
			<svg class="icon">
			  <use xlink:href="#white-bag"></use>
			</svg>
		</div>
	</div>
	<div class="product-row text-white ">
		<div class="shopping__row w100 ">
			<div class="product__img">
				<img src="img/SALIMA_LA_BIEN_AIMEE_ALEXANDER_KONING_icon.png" alt="SALIMA_LA_BIEN_AIMEE_ALEXANDER_KONING">
			</div>
			<div class="df w100 p20 bord-l-white">
				<div class="product__descr">
					<h3 class="product__title">‘Salima La Bien Aimée’</h3>
					<span class="product__size">170 х 120 cm</span>
					<p class="product__price">120<span class="price__currency text-upper">euro</span></p>
				</div>
				<div class="product__remove"></div>
			</div>
		</div>
	</div>
	<div class="product-row text-white ">
		<div class="shopping__row w100 ">
			<div class="product__img ">
				<img src="img/Screenshot_2.png" alt="‘La vie en rose’">
			</div>
			<div class="df w100 p20 bord-l-white">
				<div class="product__descr">
					<h3 class="product__title">‘‘La vie en rose’’</h3>
					<span class="product__size">170 х 120 cm</span>
					<p class="product__price">120 <span class="price__currency text-upper"> euro</span></p>
				</div>
				<div class="product__remove"></div>
			</div>
		</div>
	</div>
	<div class="product-row text-white ">
		<div class="shopping__row w100 ">
			<div class="product__img">
				<img src="img/Screenshot_1.png" alt="Momo">
			</div>
			<div class="df w100 p20 bord-l-white">
				<div class="product__descr">
					<h3 class="product__title">‘‘Momo’’</h3>
					<span class="product__size">170 х 120 cm</span>
					<p class="product__price">120 <span class="price__currency text-upper"> euro</span></p>
				</div>
				<div class="product__remove"></div>
			</div>
		</div>
	</div>
	<div class="shopping__bottom text-white">
		<div class="shopping__row bord-b-white pl20pt15">
			<a class="font14 ">Free shipping & Free returns</a>
		</div>
		<div class="shopping__row pl20pt15 jc-sb">
			<span class="font14">Subtotal</span>
			<span class="shopping__subtotal">360
				<span class="price__currency text-upper">euro</span>
				<span class="font14">360 EUR (ex. VAT)</span>
			</span> 
		</div>
		<div class="shopping__row " data-hover="checkout__arrow">
			<button class="checkout text-white pl20pt15 bg-red w100">Checkout</button>
			
		</div>
	</div>
</div>
