<div class="galery text-white">

<!-- this is section only for desctop ====================-->
<!-- this is section only for desctop ====================-->
<!-- this is section only for desctop =====================-->
	<div class="row tablet-hidden">
		<div class="col-12 col-lg-4 galery__col">
			<div class="galery__item">
				<img src="img/galery_J.M.png" alt="J.M">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_bomber.png" alt="bomber">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_George Hendrik et Paul-1-2.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 galery__col">
			<div class="galery__item">
				<img src="img/galery_A_LA_MODE_ALEXANDER KONING.png" alt="A_LA_MODE_ALEXANDER KONING">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_REMCO_KAART.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_Marlene_final.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4  galery__col">
			<div class="galery__item">
				<img src="img/galery_BURN_BEFORE_READING-1-5.png" alt="BURN_BEFORE_READING">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_SPOETNIK.png" alt="SPOETNIK">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_Shoud'nt grown up-1-2.png" alt="Shoud'nt grown">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
		</div>
	</div>
<!-- this is section only for desctop ====================-->
<!-- this is section only for desctop ====================-->
<!-- this is section only for desctop =====================-->
<!-- this is section only for tablet and mobile ====================-->
<!-- this is section only for tablet and mobile ====================-->
<!-- this is section only for tablet and mobile =====================-->
	<div class="row tablet-visible">
		<div class="col-12 col-md-6 galery__col">
			<div class="galery__item">
				<img src="img/galery_J.M.png" alt="J.M">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_BURN_BEFORE_READING-1-5.png" alt="BURN_BEFORE_READING">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_REMCO_KAART.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_George Hendrik et Paul-1-2.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_Shoud'nt grown up-1-2.png" alt="Shoud'nt grown">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 galery__col">
			<div class="galery__item">
				<img src="img/galery_A_LA_MODE_ALEXANDER KONING.png" alt="A_LA_MODE_ALEXANDER KONING">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_bomber.png" alt="bomber">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_SPOETNIK.png" alt="SPOETNIK">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
			<div class="galery__item">
				<img src="img/galery_Marlene_final.png" alt="">
				<div class="galery__text">
					<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
					<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
				</div>
			</div>
		</div>
	</div>
	<!-- this is section only for tablet and mobile ====================-->
	<!-- this is section only for tablet and mobile ====================-->
	<!-- this is section only for tablet and mobile =====================-->
</div>
<div class="row moon-white-wrap">
		<div class="col-4 tablet-hidden"></div>
		<div class="col-12 col-lg-4 brder-l-md">
			<div class="moon-white"></div>
		</div>
		<div class="col-4 tablet-hidden  border-l-r-white"></div>
	</div>


<!-- <div class="galery text-white">
	<div class="galery__item">
		<img src="img/galery_A_LA_MODE_ALEXANDER KONING.png" alt="A_LA_MODE_ALEXANDER KONING">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_BURN_BEFORE_READING-1-5.png" alt="BURN_BEFORE_READING">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_bomber.png" alt="bomber">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_REMCO_KAART.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_SPOETNIK.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_George Hendrik et Paul-1-2.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_Marlene_final.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_Shoud'nt grown up-1-2.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
	<div class="galery__item">
		<img src="img/galery_Shoud'nt grown up-1-2.png" alt="">
		<div class="galery__text">
			<h3 class="font16">‘It is Not Because We Found It That We Will Stop Searching’ aka 'Ishmael est Revenu’</h3>
			<p class="font12">Charcoal, Acrylic, Pencil, Spray Paint and Conté on Wooden Panel – 50x60cm – 2017</p>
		</div>
	</div>
</div> 
</div> -->