.site-footer
	padding-left: 75px
	padding-right: 75px
.footer__item
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: center
	padding: 30px 40px 35px
	border-top: 1px solid $color-white
	border-bottom: 1px solid $color-white
	&:nth-child(2)
		border-left: 1px solid $color-white
		border-right: 1px solid $color-white
	&:nth-child(3)
		border-right: 1px solid $color-white
		position: relative
		&:after
			content: ''
			position: absolute
			display: block
			width: 60px
			height: 1px
			background: $bg-white
			right: -60px
			top: -1px

.bright-nav
	.footer__item
		border-top: 1px solid $color-black
		border-bottom: 1px solid $color-black
		&:nth-child(2)
			border-left: 1px solid $color-black
			border-right: 1px solid $color-black
		&:nth-child(3)
			border-right: 1px solid $color-black
			&:after
				background: $bg-black


.footer__bottom
	display: flex
	align-items: center
	justify-content: center
	&:last-child()
		border-left: 1px solid $color-white
		border-right: 1px solid $color-white
.footer__bottom-item
	&:first-child()
		padding-left: 25px
	padding: 15px 10px
	a
		display: block
		text-decoration: none
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			width: 0
			height: 1px
			border-bottom: 1px dashed $color-light-gray
			transition: 0.2s
	a:hover:before
		width: 100%

.bright-nav
	.footer__bottom-item
		a
			&::before
				border-color: $color-black

.black-input
	position: relative
	display: flex
	align-items: center
	input
		color: $text-white

.black-field
	background: $bg-black
	outline: none
	border: none
	border-bottom: 1px solid $color-white

.bright-nav
	.black-field
		background: $bg-bright
		border-bottom: 1px solid $color-black
	.black-input
		input
			color: $text-black

.transparent-btn
	position: absolute
	right: 0