.site-header
	min-height: 100vh

.header__content
	padding-top: 22px
	padding-bottom: 23px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

.hero
	text-transform: uppercase

.header__top
	width: 100%
	max-width: 380px
	margin-left: 0
	margin-right: auto
	display: flex
	align-items: center
	justify-content: space-between

.version-wrapp
	display: flex
	align-items: center
	justify-content: space-between
	margin-left: 20px
	width: 100%
	opacity: 1
	transition: 0.2s

.header__image-descr
	position: absolute
	font-family: "Neue_light"
	font-size: 16px
	line-height: 24px
	top: 180px
	left: -130px
	transform: rotate(-90deg)

.colection-version
	display: flex
	align-items: center
	font-family: "Neue_light"
	font-size: 1rem
	line-height: 24px

.arrow-right,
.arrow-left
	width: 25px
	height: 25px
	cursor: pointer

.arrow-left
	transform: rotate(180deg)

.arrow-up-right
	width: 50px
	height: 50px
	transform: rotate(135deg)
	transition: 0.2s

	&.active
		transform: rotate(270deg)
		transition: 0.2s
		
	.icon
		width: 50px
		height: 50px

.arrow-up-right[data-action = 'click']
	cursor: pointer

.image-title
	font-family: "Neue_light"
	font-size: 16px
	line-height: 24px
	letter-spacing: 0.02em

.responsive-img
	img
		height: 100%
		width: 100%
		object-fit: cover

.header__lower-signature
	position: absolute
	right: 0
	bottom: 0
	display: flex
	align-items: flex-end
	justify-content: space-between
	min-width: 150px
	span
		font-family: "Neue_roman"
		font-size: 23px
		line-height: 32px
#top-right
	fill: $color-white