.site-header
	min-height: 100vh

.header__content
	padding-top: 22px
	padding-bottom: 23px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between

.hero
	text-transform: uppercase

.header__top
	width: 100%
	max-width: 380px
	margin-left: 0
	margin-right: auto
	display: flex
	align-items: center
	justify-content: space-between

.header__image-descr
	font-family: "Neue_light"
	font-size: 16px
	line-height: 24px
	letter-spacing: 0.02em
	writing-mode: vertical-lr
	display: flex
	flex-direction: column
	align-items: flex-start
	margin-left: auto
	margin-right: -30px
	transform: rotate(180deg)

.colection-version
	display: flex
	align-items: center
	font-family: "Neue_light"
	font-size: 1rem
	line-height: 24px

.arrow-right,
.arrow-left
	width: 25px
	height: 25px
	cursor: pointer

.arrow-left
	transform: rotate(180deg)

.image-title
	font-family: "Neue_light"
	font-size: 16px
	line-height: 24px
	letter-spacing: 0.02em

.responsive-img
	img
		height: 100%
		width: 100%
		object-fit: cover

