.alg-item-center
	align-items: center

.alig-left
	margin-left: 0
	margin-right: auto

.df
	display: flex

.current.flex-col
	display: flex
	flex-direction: column

.hidden
	visibility: hidden
	opacity: 0
	transition: 0.2s

.w100
	width: 100%

.w50
	width: 50%

.white-line
	width: 37px
	height: 1px
	background: $bg-white

.white-border
	border: 1px solid $color-white
	
.h100
	height: 100%

.min-h100vh
	height: 100%
	min-height: 100vh

.mb15
	margin-bottom: 15px

.mb20	
	margin-bottom: 20px

.mb30
	margin-bottom: 30px

.ml20
	margin-left: 20px

.alig-left
	margin-left: 0
	margin-right: auto

.mt12mb13
	margin-top: -12px
	margin-bottom: 12px

.mt10
	margin-top: 10px

.max-w550
	max-width: 550px

.max-w250
	max-width: 250px

.bg-black
	background: $bg-black

.bg-red
	background: $bg-red

.bord-b-white
	border-bottom: 1px solid #fff

.bord-b-black
	border-bottom: 1px solid #000

.bord-l-white
	border-left: 1px solid #FFF

.overlay-bg
	display: none
	position: fixed
	background: rgba(0, 0, 0, 0.8)
	top: 0
	left: 0
	right: 0
	height: 100%
	min-height: 100vh
	&.active
		display: block


.pl50
	padding-left: 50px

.plr60
	padding-left: 100px
	padding-right: 60px

.pl20pt15
	padding: 15px 20px
.p20
	padding: 20px
.pos-relative
	position: relative

.rotate135
	cursor: pointer
	svg
		transform: rotate(135deg)
		width: 15px
		height: 15px

.section-wrapper
	padding: 40px 0

.text-white
	color: $text-white

.text-left
	text-align: left!important

.text-small
	font-family: "Neue_light"
	font-size: 0.75rem
	line-height: 18px	
	letter-spacing: 0.02em

.text-upper
	text-transform: uppercase

.tablet-visible
	display: none
.mobile-visible
	display: none
.icon
  width: 25px
  height: 25px
		svg
			stroke: #fff

.rotate90
	transform: rotate(90deg)

.stop-scroll
	height: 100vh
	overflow: hidden

.jc-sb
	justify-content: space-between


