.alg-item-center
	align-items: center

.df
	display: flex

.w100
	width: 100%

.white-line
	width: 37px
	height: 1px
	background: $bg-white

.h100
	height: 100%

.min-h100vh
	min-height: 100vh

.ml20
	margin-left: 20px

.mt12mb13
	margin-top: -12px
	margin-bottom: 12px
.bg-black
	background: $bg-black

.plr60
	padding-left: 100px
	padding-right: 60px

.pos-relative
	position: relative

.text-white
	color: $text-white

.text-left
	text-align: left!important
.text-small
	font-family: "Neue_light"
	font-size: 0.75rem
	line-height: 18px	
	letter-spacing: 0.02em

.icon
  width: 25px
  height: 25px
		svg
			stroke: #fff

.rotate90
	transform: rotate(90deg)

.stop-scroll
	height: 100vh
	overflow: hidden
