@media screen and (max-width: 1240px)
	.h1-title
		font-size: 48px
		line-height: 60px

	.h2-title
		font-size: 32px
		line-height: 42px

	.text-position
		padding-left: 40px

@media screen and (max-width: 992px)
	.brder-l-md
		border: none
	.moon-white-wrap
		border-left: none
		border-top: 1px solid $color-white
		padding: 20px
		margin-left: -75px
		margin-right: -75px
	.moon-white
		margin-bottom: 20px
	.pl-lg-40
		padding-left: 40px
	.content__wrapper
		padding-left: 15px
		padding-right: 15px
	.text-position
		padding-left: 0
	.h1-title
		font-size: 36px
		line-height: 48px

	.h2-title
		font-size: 28px
		line-height: 38px

	.min-h100vh
		height: auto
		min-height: auto

	.responsive-height
		min-height: 100vh
		height: 100%

	.responsive-img
		img
			height: auto
			max-width:	475px

	.tablet-aligm
		display: flex
		align-items: flex-end
		justify-content: flex-end

	.tablet-hidden
		display: none

	.tablet-visible
		display: flex
	.plr60
		padding-right: 0px
	
	.navbar
		border-right: none

	.navbar__links
		display: none

	.slide-menu,
	.shopping-cart-wrapper
		width: 50%

	.about-page
		.site-header
			min-height: auto
		.header__top
			padding-left: 40px
		.header__bottom 
			padding-top: 226px
		.responsive-height
			height: auto
			min-height: auto
	&.plr60
		padding-left: 20px
	.text-section
		width: 100%
		max-width: 100%

	.site-footer
		padding-left: 14px
		padding-right: 14px

	.footer__item
		&:nth-child(1)
			// max-width: 340px
			align-items: center
			justify-content: center
			p
				max-width: 330px
				text-align: center

	.footer__item
	&:nth-child(3)
		&:after
			content:

	.footer__bottom
		&:nth-child(1),
		&:nth-child(2)
			border-bottom: 1px solid $color-white
	
@media screen and (max-width: 768px)
	.moon-white-wrap
		margin-left: -15px
		margin-right: -15px
	.galery__col
		border: none


	.art-wrapper
		padding-left: 15px
		padding-right: 15px
	.secondary-header 
		&.bord-b-white
			&:before
				width: 15px
				left: -15px
			&:after
				width: 15px
				bottom: -1px
				right: -15px
	.font46
		font-size: 32px
		line-height: 42px
	.text-position
		padding-right: 0
	.shop-art-img
		height: 100%
		width: 106%
		right: -15px
		bottom: 0
	.shop-art__item
		width: 100%
		img
			height: 100%
			width: 100%

	.mobile-flex-col
		display: flex
		flex-direction: column
	.order0
		order: 0

	.order2
		order: 2
	.border-l-r-white
		border-right: none
		border-left: none
	.site-footer
		padding-left: 15px
		padding-right: 15px
	body
		overflow-x: auto
	.h1-title
		font-size: 34px
		line-height: 55px

	.h2-title
		font-size: 32px
		line-height: 42px
	.header__bottom
		display: flex

	.header__lower-signature
		position: relative
		max-width: 150px

	.plr60
		padding-left: 15px
		padding-right: 15px

	.plr-responsive60
		padding-left: 60px
		padding-right: 60px

	.header__top
		margin: auto auto 65px auto
		justify-content: center

	.version-wrapp
		display: none

	.slide-item
		width: 100%
	&.current
		display: flex
		flex-direction: column

	.pl50
		padding: 0

	.responsive-img 
		img 
			max-width: 100%

	.header__image-descr
		order: 2 
		padding: 20px
		position: relative
		top: auto
		bottom: 0
		left: 0
		transform: rotate(0deg)

	.mobile-hidden
		display: none
	.mobile-visible
		display: flex
	.map-bg
		width: 90%
		top: 0
		right: 0
	.ml40
		margin-left: 40px
		margin-right: auto
	.work-areas
		padding-left: 20px
		padding-right: 20px

@media screen and (max-width: 576px)
	.moon-white-wrap
		padding: 20px
	.art-wrapper
		padding-left: 15px
		padding-right: 15px
	.w600
		width: 600px
	.header__bottom
		flex-direction: column

	.h1-title
		font-size: 24px
		line-height: 34px

	.plr-responsive60
		padding-left: 10px
		padding-right: 10px

	.header__lower-signature
		align-self: flex-end

	.slide-menu,
	.shopping-cart-wrapper
		width: 100%

	.work-areas::-webkit-scrollbar
		display: none

	.work-areas
		overflow-x: scroll
		-webkit-overflow-scrolling: touch
		// &:after
		// 	content: ''
		// 	display: block
		// 	width: 100px
		// 	position: absolute
		// 	top: 0
		// 	bottom: 0
		// 	right: 0
		// 	background: linear-gradient(to right, transparent, $color-black)

	.separate-photo
		display: none
	.text-multi-col
		width: 100%
		max-width: 100%

