.descritpion-overflov
	max-height: 200px
	overflow-y: auto

.prod-size
	display: flex
	justify-content: space-between
.prod-size-label
	p
		border: 1px solid transparent
		border-bottom: 1px solid #F2F2F2
		display: flex
		cursor: pointer
		padding: 5px
		&:hover
			border: 1px solid #F2F2F2
	input
		display: none
		&:checked
			&+p
				border: 1px solid #F2F2F2

.prod-preview
	position: relative
	img
		display: block
		width: 100%
		height: 100%
		max-height: 710px
		object-fit: cover
	&.room-hidden:nth-child(2)
		display: none

.preview__bottom
	display: flex
	justify-content: space-around
	position: absolute
	bottom: 0
	width: 100%
	background: rgba(0, 0, 0, 0.5)
	a
		width: 100%
		text-align: center
		padding: 15px 15px
		&:hover
			background: rgba(0, 0, 0, 0.9)
	.icon
		width: 15px
		height: 15px
.prod-border
	border-top: 1px solid #fff
	position: relative
	margin-left: -40px
	margin-right: 0px
	
	&:after
		content: ''
		position: absolute
		top: -1px
		display: block
		height: 1px
		background: #fff
		width: 60px
		right: -60px
	
.prod-item
	padding: 40px 20px
	display: flex
	flex-direction: column
	align-items: flex-start
	img
		width: 100%
		max-width: 100%
		max-height: 500px
		object-fit: cover

.modal-wind
	display: none
	align-items: center
	justify-content: center
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 100
	&.active
		display: flex

.modal__bg
	background: rgba(0, 0, 0, 0.8)
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	z-index: 110
	cursor: pointer
.modal__img
	position: relative
	display: flex
	margin: auto
	padding: 20px
	z-index: 120
	img
		max-width: 100%
		height: auto
		width: auto
		max-height: 1000px
		object-fit: contain
.close-modal
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	right: 40px
	top: 40px
	width: 40px
	height: 40px
	background: rgba(0, 0, 0, 0.7)
	border-radius: 5px
	font-size: 40px
	font-family: cursive
	color: white
	cursor: pointer
	z-index: 121


