.art-wrapper	
	padding-left: 75px
	padding-right: 75px

.galery
	column-count: 3
	column-gap: 0
	position: relative
	border-right: 1px solid $color-white
	margin-right: -15px
	margin-left: -15px
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		width: 1px
		top: 0
		bottom: -60px
		background: $color-white
	&:before
		left: calc(100%/3 + 1px)
	&:after
		right: calc(33.33333% - 1px)

.bright-nav
	.galery
		border-right: 1px solid $color-black
		&:before,
		&:after
			border-right: 1px solid $color-black

.galery__col
	border-left: 1px solid $color-white
	border-right: 1px solid $color-white
	display: flex
	flex-direction: column
	display: flex
	width: 100%

.galery__item
	border-top: 1px solid $color-white
	padding: 40px 40px
	width: 100%
	page-break-inside: avoid
	break-inside: avoid
	img
		vertical-align: middle
		width: 100%
		max-height: 500px
		margin-bottom: 10px
		object-fit: cover

.bright-nav
	.galery__item
		border-top: 1px solid $color-black
		
.moon-white
	cursor: pointer
	margin: auto
	margin-bottom: 40px
	width: 20px
	height: 20px
	border-radius: 50%
	background: $bg-white
	position: relative
	z-index: 1
	animation: rotate 1s linear 0s normal none infinite running
	transform-origin: 50% 50%
	&:after
		content: ''
		display: block
		width: 20px
		height: 20px
		border-radius: 50%
		background: $bg-black
		position: absolute
		top: -1px
		z-index: 0
		

@keyframes rotate 
	from
		transform: rotate(0deg)
	to 
		 transform: rotate(360deg)



