// Neue_roman
// Neue_light
body
	font-family: 'Neue_light'
	font-size: 1.0625rem
	line-height: 25px
	letter-spacing: 0.02rem

.h1-title
	font-family: "Neue_roman"
	font-size: 60px
	line-height: 72px
	text-transform: uppercase

.h2-title
	font-family: "Neue_roman"
	font-size: 32px
	line-height: 42px

a:active,
a:focus
	color: $text-gray!important
