@import vars
@import libs
@import fonts
@import tipografy
*
	margin: 0
	padding: 0
img
	max-width: 100%
ul 
	padding: 0
body
	display: flex
	flex-direction: column
	overflow-x: hidden
	position: relative
button
	border: none
	outline: none
	background: transparent
	cursor: pointer
a
	text-decoration: none
/*!=================================
 custom css styles
 ===================================*/
/*!=================================
 header css styles
 ===================================*/
@import header
/*!=================================
 header css styles
 ===================================*/
 /*!=================================
 navbar css styles
 ===================================*/
@import navbar
/*!=================================
 navbar css styles
 ===================================*/
 /*!=================================
 aside-right css styles
 ===================================*/
@import aside-right
/*!=================================
 aside-right css styles
 ===================================*/

 /*!=================================
 shoping-cart css styles
 ===================================*/
@import shopping-cart
/*!=================================
 shoping-cart css styles
 ===================================*/

/*!=================================
 about styles
 ===================================*/
@import about-content
/*!=================================
 about styles
 ===================================*/

 /*!=================================
 footer styles
 ===================================*/
@import footer
/*!=================================
 footer styles
 ===================================*/

 /*!=================================
 helpers classes styles
 ===================================*/
@import helpers
/*!=================================
 helpers classes styles
 ===================================*/

/*!=================================
 home_main_content classes styles
 ===================================*/
@import home_main_content
/*!=================================
 home_main_content classes styles
 ===================================*/




 /*!=================================
 media-queries css styles
 ===================================*/
@import media
/*!=================================
 media-queries css styles
 ===================================*/






